/*css för php*/
/*body är grundstilen för sidan*/
body {
    font-family: Arial, sans-serif;
}

/*support container innehåller allt innehåll på support.php*/
#support-container {
    width: 700px;
    margin: 20px auto;
    line-height: 1.6;
}

#support-container h1 {
    font-family: "Times New Roman", Georgia, serif;
    font-size: 36px;
}

#support-container h3 {
    margin-top: 18px;
}

#support-container b {
    font-size: 16px;
    display: block;
    margin-bottom: 6px;
}
