
body{
 display: flex;
 justify-content: center;
}

h1{
 font-size: 36px;
}

/* Form layout */
label{
 display:block;
 margin-top: 12px;
}

input[type="text"], select, textarea{
display: block;
margin-top: 5px;
padding: 5px;
 box-sizing: border-box;
 font-size:14px;
 border:1px solid #eea1f3;
}

textarea{
 resize: vertical;
 height: 100px;
}

/* Radio group styling */
.radiogrupp{
 margin-top:12px;
 border: none;
 padding: 0;
}


.radiogrupp label{
 display:block;
 margin-top:5px;
}


/* Buttons */
.knappar{
 margin-top:10px;
}


input[type="submit"], input[type="reset"]{
 padding:6px 12px;
 font-size:14px;
 margin-right:8px;
 border-radius:4px;
 border:1px solid #d87ee2;
 background:#f3f3f3;
 cursor:pointer; /*handen pekar*/
}

